#board {
  width: 400px;
}

#main {
  display: flex;
}

#log {
  max-height: 500px;
  overflow-y: scroll;
}

#log_template .move {
  width: 30em;
  display: inline-block;
}

.move {
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
  margin-right: 5em;
}
