body {
  background-color: grey;
}

@media (min-width: 1000px) {
  #board {
    width: 350px;
  }
}

@media (max-width: 1000px) {
  #board {
    width: 600px;
  }
  button {
    font-size: xx-large;
  }
}

#main {
  display: inline-flex;
  flex-wrap: wrap;
}

#board_wrapper {
  flex-grow: 1;
}

#log_wrapper {
  display: inline-block;
  overflow:scroll;
  flex-grow: 1;
}

#log {
  overflow: scroll;
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 2em;
  padding: 10px;
  margin: 10px;
}

#opening {
  display: flex;
}

.turn_pair {
  display: flex;
}

.move {
  width: 25em;
  white-space: pre;
}

.move_margin {
  width: 10em;
}

#all_instructions {
  flex-grow: 1;
  display: inline-block;
}

#sub_instructions {
  padding: 10px;
  margin: 10px;
  border: 2px black solid;
}

.instructions {
  padding-left: 15px;
}
