body {

  background-color: grey;
}

#board {
  width: 350px;
}

#main {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100vw;
}

#log_wrapper {
  display: inline-block;
  overflow:scroll;
}

#log {
  width: 65em;
  max-height: 500px;
  overflow: scroll;
  font-family: "Courier New", Courier, monospace;
}

.move {
  width: 25em;
  display: inline-block;
  margin-right: 5em;
  white-space: pre;
}

#all_instructions {
}

.instructions {
  padding-left: 15px;
}
